@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body, html, main {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  font-size: 16px;
  line-height: 1.2em;
}

* {
  outline: 1px solid red;
}

/*
 *
 * Header
 *
 */

.header {
  width: 100%;
  height: 500px;
  border: 3px solid green;
}

.header__logo {
  width: 80px;
}

.header__hamburguer {
  font-size: 1.3em;
  float: right;
  margin-right: 15px;
}

.header__menu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.header__menu--open {
  transform: translate(0, 0);
}

.header__menu--hidden {
  display: none;
}

.header--theme-red {

}

.header__title {

}

.header__title--disabled {

}
