@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body, html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  /*font-family: 'Indie Flower', cursive;*/
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  background: #fefefe;
}

.dot {
  color: #ff0000;
}

/*
 *
 * Header
 *
 */

.header {
  width: 100%;
  height: 500px;
  border: 1px solid red;
  background: #cb2d3e;
  background: -webkit-linear-gradient(to left, #cb2d3e , #ef473a);
  background: linear-gradient(to left, #cb2d3e , #ef473a);
  color: #fff;
}

.header__logo {
  width: 80px;
}

.header__hamburguer {
  font-size: 2.3em;
  float: right;
  margin: 15px;
}

.header__menu {
  width: 300px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-300px, 0);
  transition: transform 0.3s ease;
}

.header__menu--open {
  transform: translate(0, 0);
}

.header__menu--hidden {
  display: none;
}

.menu__title {
  font-size: 3em;
  color: #ccc;
  height: 40px;
  padding: 40px;
  text-align: center;
  background: #191919;
}

.menu__list .list__item {
  line-height: 4em;
}

.menu__list > .list__item > a {
  text-decoration: none;
  color: #2f2f32;
}

.menu__list > .list__item  .fa {
  padding-right: 10px;
}


.header__title {
  margin-top: 100px;
  text-align: center;
  font-weight: 300;
  font-size: 1.4em;
}

.header__subtitle {
  font-size: 3.5em;
  text-transform: uppercase;
  text-align: center;
}

.icon__heart {
  color: #fff;
  font-style: normal;
}

.header__social {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  padding: 0;
  margin: 20px 20%;
}

.social__item .fa {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  padding: 17px 0 0 20px;
  background: #191919;
  color: #fff;
  transition: background 0.5s;
}

.social__item .fa:hover {
  cursor: pointer;
  background: #cb2d3e;
}

/*
 *
 * About
 *
 */

.about {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  margin: 50px 0 0;
}

.about__info,
.about__profile {
  width: 100%;
}

.profile_image {
  width: 100%;
}

.about__info {
  text-align: center;
  width: 100%;
}

.info__description {
  padding: 20px;
}

.about__info > .fa {
  font-size: 4em;
}

.info__title {
  font-size: 2.5em;
}

.info__line {
  width: 10%;
  color: #cb2d3e;
  border: 1px solid;
  margin: 0 auto 50px;
}

/*
 *
 * Skills
 *
 */

.skills {
  background: #232526;
}

.skills__title {
  font-size: 2.5em;
  text-align: center;
  color: #fff;
}

/*
 *
 * Works
 *
 */

.works__title {
  text-align: center;
  text-transform: uppercase;
}

/*
 *
 * Help
 *
 */

.help {

}

.help__title {
  text-align: center;
  text-transform: uppercase;
}

/*
 *
 * Blog
 *
 */

.blog {
  border: 3px solid;
}

.blog__title {
  text-align: center;
  text-transform: uppercase;
}

.blog__post {
  border: 1px solid red;
  border-radius: 3px;
  width: 50%;
  margin: 10px auto;
  padding: 20px;
}

.post__profile {
  border-radius: 50%;
  vertical-align: middle;
}

.post__title {
  display: inline-block;
}

/*
 *
 * Footer
 *
 */

 .footer__contact {
   display: flex;
   flex-flow: row wrap;
   border: 1px solid red;
 }

.contact__phone,
.contact__email {
  border: 1px solid;
  padding: 20px;
  flex-grow: 1;
}

.footer__social {
  list-style: none;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 20px 20%;
 }

.footer__social > .social__item {
  font-size: 2.5em;
}

.footer__copyright {
  text-align: center;
}
